<a href="/">Accueil</a>
<a href="/game">Jeux</a>
<h1>Création</h1>
<form method="post" action="/game/create">

    <label for="name">Nom : </label> 
    <input type="text" id="name"  name = "name"/>

    <label for="desc">Description : </label> 
    <input type="text" id="desc"  name = "desc"/>

    <label for="releaseDate">Date : </label> 
    <input type="date" id="releaseDate"  name = "releaseDate"/>

    <label for="kindId">Genre : </label>
    <select id="kindId" name="kindId">
        {{#each kinds}}
             <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    <label for="editorId">Editeur : </label>
    <select id="editorId" name="editorId">
        {{#each editors}}
             <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    <input type="submit" value="Ajouter">
</form>