<div class = "bar-retour">
    <div class="historique">
        {{>arrow route = "/" title="Accueil >"}}
        {{>arrow title="Jeux "}}
    </div>
    <div class="bar-modif">
        <a href="/game/create">Ajouter Jeux</a>
    </div
</div>
<ul>
{{>gameList games = games title = "Tous les jeux"}}