<header>
    <a href="/">Vapeur</a>
    <nav>
        <a href="/">Accueil</a>
        <a href="/game">Jeux</a>
        <a href="/editor">Editeurs</a>
        <a href="/kind">Genre</a>
    </nav>
</header>