<div class="bar-retour">
    <!-- Historique -->
    <div class="historique">
        {{>arrow route="/" title="Accueil > "}}
        {{>arrow route="/editor" title="Editeurs > "}}
        {{>arrow title=(concat "Modification > " editor.name)}}
    </div>

</div>
<section class="center">
    <h1 >Modifier</h1>
    <div class="editor-modify-container">


        {{#if error}}
            <h2 class="editor-error">{{error}}</h2>
        {{/if}}

        <form method="post" action="/editor/{{editor.id}}/modify" class="editor-modify-form">
            <div class="form-group">
                <label for="name" class="form-label">Nom :</label>
                <input
                        type="text"
                        id="name"
                        name="name"
                        class="form-input"
                        value="{{editor.name}}"
                        required
                />
            </div>

            <div class="form-actions">
                <input type="submit" value="Modifier" class="form-submit-btn">

        </form>

        <form method="post" action="/editor/{{editor.id}}/delete">
                <input type="submit" value="Supprimer" class="form-delete-btn">
            </div>
        </form>
    </div>
</section