<h1>Page d'accueil</h1>
<a href="/game">Jeux</a><br>
<a href="/kind">Genre de jeux</a><br>
<a href="/editor">Editeur de jeux</a>

<ul>
    {{#each gameTop}}
        <li><a href="/game/{{id}}">{{name}}</a></li>
    {{/each}}
</ul>
